*.py[cod]
__pycache__/
*.so

*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3

.venv/
*/migrations/*
!*/migrations/__init__.py
media/
staticfiles/
static/
.vscode/
*.swp
*.swo
*.s
frontend/node_modules
backend/FFRESTAPIS/db.sqlite3