
# Python Bytecode files
*.py[cod]
__pycache__
*.so

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3

# Environment files
.env
.venv/
env/
TT_venv/
ENV/
env.bak/
venv.bak/

# Django Migrations
*/migrations/*
!*/migrations/__init__.py

# Media files
media/
staticfiles/
static/

# IDEs and editors
.vscode/
*.swp
*.swo
*.s

# SQLite database file
db.sqlite3