/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html{
    background-color:rgb(20, 20, 20);
}

body{
    background-color: rgb(9, 82, 81);
    color: white;
}

.container {
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}