.note-card {
    margin: 10px;
    background-color: #62E2C6;
    border-radius: 10px;
    width: 100%;
    max-width: 100%; /* Set a max-width for better responsiveness */
    padding: 5px;
    margin-bottom: 10px;

}

.note-form-field{
    background-color: #003B3B;
    margin-bottom: 0px;
}

.note-data{
    margin: 5px;
    border-radius: 10px;
    background-color: #003B3B;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

.main-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70%;
    justify-content: center;
    justify-self: center;
}


.note-buttons-section{
    margin: 5px;
}

@media (max-width: 768px) {
    .main-container {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .note-card{
        margin: 0px;
        margin-bottom: 5px;

    }
}